.doc-header {
    display: block;
    gap: 10px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-size: 20px;
}

.doc-content {
    max-width: 400px;
    margin: 10px 0;
}

.layout-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.layout-row > * {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
